[Desktop Entry]
Name=ashwc
Comment=tiling wayland compositor based on wlroots
Exec=ashwc
Type=Application
DesktopNames=ashwc
Keywords=tiling;wayland;compositor;
